:root {
  --primary-color : #21E6C1 ;
  --background-color : #3b3b3b;
  --black-color : #464646 ;
  --white-color : #ffffff ;
  --dark-gray-color : #858584 ;
  --ligth-gray-color : #EFF0F4 ;
}

body {
    background-color : var(--background-color);
    color: var(--white-color);
}

body input, body select {
    color: #000000;
}