:root {
  --primary-color: #21e6c1;
  --background-color: #2b2b2b;
  --black-color: #4f4f4f;
  --white-color: #ffffff;
  --dark-gray-color: #858584;
  --ligth-gray-color: #eff0f4;
}

body {
  background-color: var(--background-color);
  color: var(--white-color);
}

body input,
body select {
  color: #000000;
}
