@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .accept-container .input-group input{
        @apply border text-right;
    }

    .accept-container .input-group {
        @apply flex justify-between py-2 items-center;
    }

    .container.container-accept {
        @apply p-20;
        margin: auto;
        width: 1440px;
    }

    .container-accept .accept-form {
        width: 720px;
    }

    /* accept-banner */
    .accept-banner{
      height: 465px;
      background-color: var(--white-color);
    }

    /* accept-head */
    .container-accept .accept-head {
        @apply mb-16;
    }

    .accept-head .accept-head-title{
        @apply py-4 text-5xl font-bold;
    }

    .accept-head .line{
        @apply my-4;
        background-color: var(--primary-color);
        border-bottom-width: 1px;
        border-color: var(--primary-color);
    }

    /* accept Form */
    .accept-form .input-group{
        @apply flex flex-col;
    }

    .accept-form .form-section .section-title{
        @apply py-4 text-3xl font-bold;
    }

    .accept-form .input-group input{
        @apply py-2 px-3 rounded-xl mb-8
    }

    .accept-form button{
        @apply rounded-xl;
        background-color: var(--primary-color);
    }

    .accept-form .input-group .input-select select {
        @apply rounded-xl border-2 px-2;
        border-color: var(--primary-color);
        color: var(--white-color);
        background-color: var(--black-color);
        outline: none;
    }

    .accept-form .input-group .input-button,
    .accept-form .input-group .input-select
    {
        @apply flex w-full mb-8;
        gap: 1rem;
    }
    
    .accept-form .input-group .input-button input,
    .accept-form .input-group .input-select input
    {
        @apply mb-0 w-[70%];
    }

    .accept-form .input-group .input-button button,
    .accept-form .input-group .input-select select
    {
        @apply w-[30%];
    }

    .accept-form .form-section .button-group{
        @apply flex justify-end;
    }

    .accept-form .form-section .accept-button {
        @apply p-4 font-bold
    }
}