@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container.container-detail {
    @apply pt-20;
    width: 1440px;
    margin: auto;
  }

  /* detail head */
  .container.container-detail .detail-head{
    @apply flex justify-between;
  }

  .detail-head .detail-title-group {
    @apply mb-16;
  }

  .detail-head .detail-title-group .detail-title {
    @apply mb-5 text-5xl font-bold;
  }

  .detail-head .detail-title-group .detail-issued {
    @apply text-xl;
    color: var(--dark-gray-color);
  }

  .detail-head .detail-party .party-item {
    @apply mb-12 text-xl;
  }

  .detail-head .detail-party .party-role {
    color: var(--dark-gray-color);
  }

  /* detail content */

  .detail-content .detail-content-section .content-section-title {
    @apply text-3xl font-semibold mb-8;
  }

  .detail-content .content-box {
    @apply rounded-xl inline-block mb-16;
    gap: 1rem;
    background-color: var(--black-color);
  }
  
  .detail-content .content-box .content-item {
    @apply py-4 px-16 inline-block;
  }

  .detail-content .content-box .content-item .item-name{
    @apply py-4 font-semibold text-xl text-darkGrayColor;
  }

  .detail-content .content-box .content-item .item-figures{
    @apply py-4 font-normal text-xl;
  }

  /* detail price */
  .detail-price .button-group{
    @apply flex justify-center mt-10;
  }

  .detail-price .button{
    @apply py-4 w-[8rem] font-bold bg-secondaryColor rounded-xl mr-5;
  }

  .detail-price .button:disabled {
    @apply bg-darkGrayColor;
  }

  .detail-price .button:last-child{
    @apply mr-0;
  }
}