@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header {
        @apply font-bold;
        background-color: var(--black-color);
        color: var(--white-color);
    }

    .header .container.container-header {
        width: 1440px;
    }

    .header .logo-link {
        @apply flex items-center;
    }

    .header .logo-link * {
        @apply mr-5;
    }

    .navbar .navbar-item {
        @apply mx-2
    }

    .navbar .navbar-button {
        @apply py-2 px-4 rounded-xl;
        background-color: var(--primary-color);
    }

}