@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .SeeMoreButton {
    backdrop-filter: blur(10px);
    border-radius: 20px;
    background-color: #858584;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
