@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .negotiate-container .input-group input {
    @apply border text-right;
  }

  .negotiate-container .input-group {
    @apply flex justify-between py-2 items-center;
  }

  .container.container-negotiate {
    @apply p-12;
    margin: auto;
    width: 1440px;
  }

  .container-negotiate .negotiate-form {
    width: 720px;
  }

  /* negotiate-banner */
  .negotiate-banner {
    height: auto;
  }

  /* negotiate-head */
  .container-negotiate .negotiate-head {
    @apply mb-14;
  }

  .negotiate-head .negotiate-head-title {
    @apply py-4 text-4xl font-bold;
  }

  .negotiate-head .line {
    @apply my-4;
    background-color: var(--primary-color);
    border-bottom-width: 1px;
    border-color: var(--primary-color);
  }

  /* Create Form */
  .negotiate-form .input-group {
    @apply flex flex-col;
  }

  .negotiate-form .form-section .section-title {
    @apply py-4 text-2xl font-bold;
  }

  .negotiate-form .input-group .input-wrapper{
    @apply flex items-center items-stretch 
    w-full mb-6 bg-whiteColor rounded-xl
    overflow-hidden;
  }

  .negotiate-form .input-group .input-radio input,
  .negotiate-form .input-group .input-button input,
  .negotiate-form .input-group .input-range input,
  .negotiate-form .input-group .input-select input
  {
    @apply rounded-xl;
  }

  .negotiate-form .input-group .input-wrapper .input-label{
    @apply w-full py-2 pl-3 bg-darkGrayColor 
    text-black;
  }

  .negotiate-form .input-group input,
  .negotiate-form .input-group select
  {
    @apply w-full py-2 px-3 outline-0;
  }

  .negotiate-form .input-group .input-value,
  .negotiate-form .input-group .input-number
  {
    @apply relative w-full px-3 outline-0;
  }



  .negotiate-form .input-group .input-value.disabled,
  .negotiate-form .input-group .input-number.disabled
  {
    background-color: #848483
  }

  .negotiate-form .input-group .input-value::after,
  .negotiate-form .input-group .input-number::after
  {
    @apply absolute text-black left-0 ml-2 mt-2;
    content: '$';
  }

  .negotiate-form .input-group .input-value::after{
    content: '$';
  }

  .negotiate-form .input-group .input-number::after{
    content: '#';
  }

  .negotiate-form .input-group .input-value,
  .negotiate-form .input-group .input-number,
  .negotiate-form .input-group .input-wrapper input,
  .negotiate-form .input-group .input-wrapper select
  {
    @apply border-l-4 border-[#2b2b2b];
  }

  .negotiate-form .input-group .input-wrapper select{
    @apply border-2 border-primaryColor rounded-tr-xl rounded-br-xl border-l-0
    bg-[#2b2b2b] text-whiteColor;
  }

  .negotiate-form .input-group .input-wrapper input:first-child{
    @apply border-0;
  }

  .negotiate-form .input-group .input-wrapper input:disabled{
    @apply bg-darkGrayColor;
  }

  .negotiate-form .input-group .input-wrapper input.value::after{
    @apply absolute text-black;
    content: '$';
  }

  .negotiate-form button {
    @apply rounded-xl;
    background-color: var(--primary-color);
  }

  /* Form radio */
  .negotiate-form .input-group .input-radio {
    @apply mb-4;
  }

  .negotiate-form .input-group .input-radio label {
    vertical-align: middle;
  }

  .negotiate-form .input-group .input-radio label:hover,
  .negotiate-form .input-group .input-radio input[type='radio']:hover {
    @apply cursor-pointer;
  }

  .negotiate-form .input-group .input-radio input {
    @apply mr-2 mb-1 p-0 w-5 h-5;
  }

  .negotiate-form .input-group .input-radio input[type='radio'] {
    @apply border border-ligthGrayColor;
    vertical-align: middle;
    appearance: none;
  }

  .negotiate-form .input-group .input-radio input[type='radio']:checked {
    @apply bg-primaryColor;
  }

  .negotiate-form .input-group .input-radio input[type='radio']:focus {
    @apply outline-4 outline-whiteColor;
  }

  .negotiate-form .input-group .input-radio input[type='radio']:active {
    @apply bg-secondaryColor;
  }

  .negotiate-form .input-group .input-radio label {
    @apply text-xl mr-4;
  }

  .negotiate-form .input-group .input-select select {
    @apply rounded-xl border-2 px-2;
    border-color: var(--primary-color);
    color: var(--white-color);
    background-color: var(--black-color);
    outline: none;
  }

  .negotiate-form .input-group .input-button,
  .negotiate-form .input-group .input-select,
  .negotiate-form .input-group .input-range {
    @apply flex w-full mb-6;
    gap: 1rem;
  }

  .negotiate-form .input-group .input-range {
    @apply items-center;
  }

  .negotiate-form .input-group .input-button input,
  .negotiate-form .input-group .input-select input,
  .negotiate-form .input-group .input-range input:last-child {
    @apply mb-0 w-[70%];
  }

  .negotiate-form .input-group .input-range input:first-child {
    @apply mb-0;
  }

  .negotiate-form .input-group .input-range .range {
    @apply appearance-none h-1 bg-transparent;
  }

  .negotiate-form
    .input-group
    .input-range
    .range[type='range']::-webkit-slider-runnable-track {
    @apply appearance-none bg-whiteColor rounded-lg h-2 border-0 outline-0;
  }

  .negotiate-form
    .input-group
    .input-range
    .range[type='range']:disabled::-webkit-slider-runnable-track {
    @apply bg-darkGrayColor;
  }

  .negotiate-form
    .input-group
    .input-range
    .range[type='range']::-ms-fill-lower,
  .negotiate-form
    .input-group
    .input-range
    .range[type='range']::-moz-range-progress {
    @apply bg-darkGrayColor;
    height: 8px;
    border-radius: 6px;
  }

  .negotiate-form
    .input-group
    .input-range
    .range[type='range']::-webkit-slider-thumb {
    @apply appearance-none w-6 h-6 bg-primaryColor -mt-2;
    border-radius: 50%;
    border: none;
  }

  .negotiate-form
    .input-group
    .input-range
    .range[type='range']::-webkit-slider-runnable-track:active,
  .negotiate-form
    .input-group
    .input-range
    .range[type='range']::-webkit-slider-thumb:hover {
    @apply cursor-pointer;
  }

  .negotiate-form
    .input-group
    .input-range
    .range[type='range']::-webkit-slider-thumb:active {
    @apply bg-secondaryColor;
  }

  .negotiate-form .input-group .input-button button,
  .negotiate-form .input-group .input-select select,
  .negotiate-form .input-group .input-range input:first-child {
    @apply w-[30%];
  }

  .negotiate-form .form-section .button-group {
    @apply flex justify-end;
  }

  .negotiate-form .form-section .negotiate-button,
  .negotiate-form .form-section .accept-button,
  .negotiate-form .form-section .cancel-button {
    @apply p-4 font-bold;
  }

  .negotiate-form .form-section .cancel-button {
    @apply bg-secondaryColor;
  }

  .negotiate-form .form-section button {
    @apply mr-5;
  }

  .negotiate-form .form-section button:last-child {
    @apply mr-0;
  }
}
