name: deployApiServer

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - dev
    paths:
      - server/src**

jobs:
  docker:
    runs-on: ubuntu-latest
    env:
      working-directory: ./server

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.API_DOCKER_HUB_USERNAME }}
          password: ${{ secrets.API_DOCKER_HUB_TOKEN }}

      - name: Set env for Docker versioning
        run: |
          GIT_HASH=$(git rev-parse --short "${{ GITHUB.SHA }}")
          echo "GIT_HASH=${GIT_HASH}" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: ${{ env.working-directory }}
          file: ${{ env.working-directory }}/Dockerfile
          platforms: linux/amd64
          push: true
          tags: snowdelver/cdsapi:${{ env.GIT_HASH }}

      - name: Install Utilities # 필수 유틸리티 다운로드
        run: |
          sudo apt-get update
          sudo apt-get install -y jq unzip

      - name: Install AWS Client # AWS SDK 다운로드 (LightSail 이미지 푸시 및 배포를 위함)
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
          unzip awscliv2.zip
          sudo ./aws/install || true
          aws --version
          curl "https://s3.us-west-2.amazonaws.com/lightsailctl/latest/linux-amd64/lightsailctl" -o "lightsailctl"
          sudo mv "lightsailctl" "/usr/local/bin/lightsailctl"
          sudo chmod +x /usr/local/bin/lightsailctl

      - name: Configure AWS credentials # 입력된 IAM 사용자 액세스키 & 시크릿키 검증
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: 'ap-northeast-2'
          aws-access-key-id: ${{ secrets.API_AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.API_AWS_SECRET_KEY }}

      - name: Deploy To LightSail # 이미지 푸시 및 배포
        run: |
          aws lightsail get-container-service-deployments --service-name nodeauction | jq '.deployments|.[0]' | jq 'del(.version) | del(.state) | del(.createdAt)' > temp.json
          jq '.containers.cdsapi.image="snowdelver/cdsapi:${{ env.GIT_HASH }}"' temp.json > containerConfig.json
          aws lightsail create-container-service-deployment --service-name cdsapi --cli-input-json file://./containerConfig.json &> /dev/null
